@import 'variables/colors';

.ms-notification-container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
    bottom: 90px;
    right: 12px;
}

.ms-top-right {
    top: 12px;
    right: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.ms-bottom-right {
    bottom: 90px;
    right: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.ms-top-left {
    top: 12px;
    left: 12px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

.ms-bottom-left {
    bottom: 90px;
    left: 12px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

.ms-notification {
    background: #fff;
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 15px;
    width: 300px;
    max-height: 100px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px #999;
    color: #000;
    opacity: 0.9;
    background-position: 15px;
    background-repeat: no-repeat;
    box-sizing: unset;
}

// .ms-notification:hover {
//     box-shadow: 0 0 12px #fff;
//     opacity: 1;
//     cursor: pointer;
// }

.ms-notification-title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 300px;
    height: 18px;
}

.ms-notification-image {
    float: left;
    margin-right: 15px;
}

.ms-notification-image img {
    width: 30px;
    height: 30px;
}

.ms-toast {
    width: 265px;
    color: #fff;
    padding: 10px;
    background: $white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    display: flex;
}

.ms-notification-message {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 14px;
    margin: 0;
    text-align: left;
    height: 18px;
    margin-left: -1px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    width: calc(100% - 32px);
    height: 66px;
    overflow: hidden;
}

.ms-notification-container button {
    position: relative;
    // right: -0.3em;
    // top: -0.3em;
    // float: right;
    font-weight: 300;
    color: #fff;
    outline: none;
    border: none;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    line-height: 1;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    width: 32px;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    svg {
        width: 20px;
    }
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
